canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#tooltip {
    display:block;
    width:150px; /* you can use % */
    height: auto;
    top: 20px;
    left: 20px;
    position: absolute;
}

#controls {
    display:block;
    width:500px; /* you can use % */
    height: auto;
    position: absolute;
    top: 20%;
    left: 32.5%;
    visibility: hidden;
}

#info {
    display:block;
    width:200px; /* you can use % */
    height: auto;
    position: absolute;
    top: 40%;
    left: 65%;
    visibility: hidden;
}